<a href="https://colab.research.google.com/github/LBMH-lang/LBMH/blob/master/B%C3%A0i_t%E1%BA%ADp_Pandas_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

Câu 1:

In [5]:
d = {'Họ và tên': [input()], 'Ngày sinh': [input()], 'Tiền công/h': [input()], 'Số h công': [input()], 'Thực lĩnh':[input()]}
pd.DataFrame(data= d)

Lê Bá Minh Huy
25/07/2002
200.000
2
200.000 * 2

        Họ và tên   Ngày sinh Tiền công/h Số h công    Thực lĩnh
0  Lê Bá Minh Huy  25/07/2002     200.000         2  200.000 * 2

Câu 2:

In [6]:
d1 = {'Họ và tên': ["Trần Đại A","Nguyễn Thanh V","Cao Văn T","Phan Thị K"], 'Tuổi': ["19","18","18","19"], 'Giới tính': ["Nam","Nữ","Nam","Nữ"]}
pd.DataFrame(data= d1)

        Họ và tên Tuổi Giới tính
0      Trần Đại A   19       Nam
1  Nguyễn Thanh V   18        Nữ
2       Cao Văn T   18       Nam
3      Phan Thị K   19        Nữ

In [4]:
d2 = ['Họ và tên:','Tuổi:','Giới tính:']
quantities = ["Trần Đại A",19,"Nam"]
dictionary = dict(zip(d2, quantities))
dictionary
S2 = pd.Series(dictionary)
print(S2)

Họ và tên:    Trần Đại A
Tuổi:                 19
Giới tính:           Nam
dtype: object