<a href="https://colab.research.google.com/github/LBMH-lang/LBMH/blob/master/thuc_hanh_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

THỰC HÀNH LAMBDA - APPLY

1. Sử dụng bộ dữ liệu baseball.csv

In [1]:
#Code
import pandas as pd

df = pd.read_csv('baseball.csv')
df.head()

      id     player  year  stint team  lg   g  ...  bb  so  ibb  hbp  sh  sf  gidp
0  88641  womacto01  2006      2  CHN  NL  19  ...   4   4    0    0   3   0     0
1  88643  schilcu01  2006      1  BOS  AL  31  ...   0   1    0    0   0   0     0
2  88645  myersmi01  2006      1  NYA  AL  62  ...   0   0    0    0   0   0     0
3  88649  helliri01  2006      1  MIL  NL  20  ...   0   2    0    0   0   0     0
4  88650  johnsra05  2006      1  NYA  AL  33  ...   0   4    0    0   0   0     0

[5 rows x 23 columns]

2. Hãy xây dựng hàm lambda theo công thức sau: $\frac{x + log(x)}{\sqrt(x)}$

In [4]:
#Code
import math 
import numpy as np
lam1 = lambda x: (x + np.log(x))/(np.sqrt(x))
lam1(10)

3.8904190001895596

3. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc đối với 1 Series do bạn chọn từ data frame ở bước 1

In [14]:
df['id']= df.apply(lambda x: x['id']+1, axis= 1)
df['id']

0     88647
1     88649
2     88651
3     88655
4     88656
      ...
95    89531
96    89532
97    89536
98    89539
99    89540
Name: id, Length: 100, dtype: int64

4. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc với 1 nhóm cột (hoặc có thể là toàn bộ) của data frame ở bước 1

In [16]:
#Code
new_df = df[['g','ab','r','h','rbi','sb','cs','bb','so','ibb','hbp','sh','sf','gidp']]
new_df.apply(lambda x: x + 100, axis = 0)

      g   ab    r    h  rbi   sb   cs   bb   so  ibb  hbp   sh   sf  gidp
0   119  150  106  114  102  101  101  104  104  100  100  103  100   100
1   131  102  100  101  100  100  100  100  101  100  100  100  100   100
2   162  100  100  100  100  100  100  100  100  100  100  100  100   100
3   120  103  100  100  100  100  100  100  102  100  100  100  100   100
4   133  106  100  101  100  100  100  100  104  100  100  100  100   100
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
95  134  100  100  100  100  100  100  100  100  100  100  100  100   100
96  119  100  100  100  100  100  100  100  100  100  100  100  100   100
97  217  449  138  182  125  106  101  137  174  103  106  104  101   111
98  187  428  151  212  149  103  100  127  130  105  102  100  103   113
99  108  122  101  103  100  100  100  100  103  100  100  100  100   100

[100 rows x 14 columns]

THỰC HÀNH APPLY VÀ HÀM TỰ XÂY DỰNG

Trong thực tế không phải lúc nào cũng sử dụng lambda với apply, mà có thể sử dụng apply với các hàm có sẵn khác hoặc do lập trình viên tự xây dựng.

1. Hãy áp dụng nhóm hàm sum, mean, sqrt, log của thư viện numpy cho data frame ở trên theo chiều ngang và chiều dọc

In [20]:
#Code
print(df.apply(np.sum, axis=0))
print(df.apply(np.mean, axis=0))
print(df.apply(np.log, axis=0))
print(df.apply(np.sqrt, axis=0))
new_df.head()

id                                                  8935866
player    womacto01schilcu01myersmi01helliri01johnsra05f...
year                                                 200692
stint                                                   113
team      CHNBOSNYAMILNYASFNARILANATLNYNTORTBAHOUARIATLM...
lg        NLALALNLALNLNLNLNLNLALALNLNLNLALNLNLNLNLALALNL...
g                                                      5238
ab                                                    13654
r                                                      1869
h                                                      3582
X2b                                                     739
X3b                                                      55
hr                                                      437
rbi                                                    1847
sb                                                      138
cs                                                       46
bb                                                     1549
so                                                     2408
ibb                                                     177
hbp                                                     112
sh                                                      138
sf                                                      120
gidp                                                    354
dtype: object

TypeError: ignored

2. Hãy xây dựng một hàm có tên là my_function có tham số đầu vào là x. Phương pháp tính toán của hàm như sau:
 (i) Nếu x >0  thì trả về log10(x); (ii) Nếu x <= 0  thì trả về $e^{x}$

In [28]:
#Code
def my_function(x):
  if x > 0:
    kq= np.log10(x)
  else:
    kq = np.exp**x
  return kq
n = int(input('nhap n: '))
b = my_function(n)
print(b)

nhap n: 5
0.6989700043360189

3. Hãy sử dụng hàm apply để gọi my_function áp dụng cho data frame ở bước 1 ở trên

In [29]:
#Code
new_df=df.apply(lambda x: my_function(x['h']), axis=1)

TypeError: ignored